.main{
    width:90vw;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
    background-color:rgb(0, 125, 255);
}
.card img{
    width: 300px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card{
    border-radius: 15px;
     display: inline-block;
     margin-top: 5px;
     margin-left: 20px;
     background-color: white;

    } 
    
    .card > .cen{
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
    margin-top:-3px;
}